:root {
  font-size: 14px;
}

body {
  margin: 0;
  color: var(--c--theme--colors--greyscale-1000);
}

* {
  box-sizing: border-box;
}

// Related to 'react-resizable-panels'
// By default, it sets overflow to 'hidden', this is not compatible
// with our ui mainly because of tooltips.
*[data-panel],
*[data-panel-group],
.c__main-layout__content__center__children {
  overflow: inherit !important;
}

.material-icons {
  font-size: 1.25em;
}

// Related to @viselect/react
.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;

  &__container {
    user-select: none;
  }
}

// Class utilities
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.p-0 {
  padding: var(--c--theme--spacings--2xs);
}

.p-2xs {
  padding: var(--c--theme--spacings--2xs);
}

.p-xs {
  padding: var(--c--theme--spacings--xs);
}

.p-sm {
  padding: var(--c--theme--spacings--sm);
}

.p-md {
  padding: var(--c--theme--spacings--md);
}

.p-base {
  padding: var(--c--theme--spacings--base);
}

.m-0 {
  margin: 0;
}

.m-2xs {
  margin: var(--c--theme--spacings--2xs);
}

.m-xs {
  margin: var(--c--theme--spacings--xs);
}

.m-sm {
  margin: var(--c--theme--spacings--sm);
}

.m-md {
  margin: var(--c--theme--spacings--md);
}

.m-base {
  margin: var(--c--theme--spacings--base);
}