.threads__container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.thread-list-panel {
    flex: 1;
    min-width: min(280px, 100vw);
}

.thread__resize-handle {
    background: var(--c--theme--colors--greyscale-200);
    width: 1px;
}
