@use "../../../../styles/utils" as *;

.thread-view {
    background-color: var(--c--theme--colors--greyscale-050);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

.thread-view--talk .thread-message:not(.thread-message--sender) {
    margin-right: var(--c--theme--spacings--xxl);
}

.thread-view--talk .thread-message.thread-message--sender {
    margin-left: var(--c--theme--spacings--xxl);
}

@media screen and (max-width: breakpoint(tablet)) {
    .thread-view {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 900;
    }
}

.thread-view--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.thread-view__labels-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}


.thread-view__messages-list {
    display: flex;
    flex-direction: column;
    gap: var(--c--theme--spacings--base);
    padding: var(--c--theme--spacings--base);
    margin-bottom: 300px;
}

.thread-view__trashed-banner__content {
    display: flex;
    flex-direction: row;
    gap: var(--c--theme--spacings--base);
    justify-content: space-between;
}

.thread-view__trashed-banner__actions {
    display: flex;
    gap: var(--c--theme--spacings--sm);
}


.thread-view__header {
    padding: var(--c--theme--spacings--base);
    padding-left: var(--c--theme--spacings--md);
    background: linear-gradient(to top, #F6F6F600, #F6F6F6FF 15px,#F6F6F6FF 100%);
    z-index: 10;
}

.thread-view__subject {
    font-weight: bold;
}

.thread-view__sticky-container {
    position: sticky;
    top: 0;
    z-index: 2;
}
