.no-mailbox {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - var(--header-height));
    gap: 1rem;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--c--globals--spacings--3xs);
        max-width: 26rem;
        padding-inline: 1rem;

        & > * {
            margin-block: 0;
        }

        h1 {
            font-size: var(--c--globals--font--sizes--md);
            font-weight: 700;
            color: var(--c--contextuals--content--semantic--neutral--primary);
        }

        p {
            font-size: var(--c--globals--font--sizes--sm);
            color: var(--c--contextuals--content--semantic--neutral--tertiary);
            font-weight: 400;
        }
    }
}
