.c__main-layout__content {
    background-color: var(--c--theme--colors--greyscale-050);
}

.no-mailbox {
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 52px);
    
    & > div {
        font-size: var(--c--theme--font--sizes--h2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > * {
            margin-block: 0;
        }
    }
}