.thread-action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--theme--spacings--2xs);
    justify-content: space-between;
    padding: var(--c--theme--spacings--2xs);
    border-bottom: 1px solid var(--c--theme--colors--greyscale-200);
    background-color: var(--c--theme--colors--greyscale-050);
}

.thread-action-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--theme--spacings--2xs);
}

.thread-action-bar__left {
    justify-content: flex-start;
}

.thread-action-bar__right {
    justify-content: flex-end;
}
