.contact-chip {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: default;
    font-size: var(--c--theme--font--sizes--sm);
    white-space: nowrap;

    &:not(:last-of-type):after {
        content: ", ";
        margin-right: 1ex;
    }

    &[data-copied="true"] {
        .contact-chip__content, .contact-chip__warning {
            color: transparent;
        }
        .contact-chip__copied {
            visibility: visible;
            opacity: 1;
        }
    }
}

.contact-chip__content {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    z-index: 1;
    transition: color 0.2s;

    &:hover:before {
        content: "";
        display: block;
        position: absolute;
        inset: -4px -8px;
        border-radius: 4px;
        background-color: var(--c--theme--colors--greyscale-200);
        z-index: -1;
    }
}

.contact-chip__copied {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    justify-content: flex-start;
    color: var(--c--theme--colors--greyscale-900);
    transition: visibility 0.2s, opacity 0.2s;
    visibility: hidden;
    opacity: 0;
}

.contact-chip__warning {
    color: var(--c--theme--colors--warning-600);
}

.contact-chip__error {
    color: var(--c--theme--colors--danger-600);
}

.contact-chip__success {
    color: var(--c--theme--colors--success-600);
}

// == ContactPopover
.contact-popover {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8px;
    background-color: #FFF;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.contact-popover__overlay {
    content: "";
    position: fixed;
    display: block;
    inset: 0;
    z-index: -1;
    background-color: red;
}

.contact-popover__identity {
    display: flex;
    gap: var(--c--theme--spacings--md);
    align-items: center;

    & > div {
        flex-shrink: 0;
        overflow: hidden;
    }
}
.contact-popover__identity-info {
    flex: 1;
}

.contact-popover__identity-name {
    display: inline-block;
    font-size: var(--c--theme--font--sizes--h4);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin: 0;
    line-height: 1;
}

.contact-popover__identity-email {
    appearance: none;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    cursor: pointer;
    display: flex;
    position: relative;
    max-width: 100%;

    & > span:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        text-decoration: underline;
    }

    & > .contact-popover__copy-icon {
        background: white;
        height: 100%;
        font-size: var(--c--theme--font--sizes--base);
        height: 1.2em;
        padding: 2px;
        display: none;
        text-decoration: none;
    }

    &:hover {
        color: var(--c--theme--colors--primary-600);
        text-decoration-color: currentColor;
        & > .contact-popover__copy-icon {
            display: block;
        }
    }
}


