@use "../../../../../styles/utils" as *;

.c__header {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  gap: 0.5rem;
  grid-template-areas: "left center right";
  background-color: var(--c--theme--colors--greyscale-000);
  border-bottom: 1px solid var(--c--theme--colors--greyscale-200);
  height: var(--header-height);
  min-height: var(--header-height);
  max-height: var(--header-height);
  padding: 0 1.125rem;

  &--anonymous {
    border-color: transparent;
  }

  @media screen and (max-width: breakpoint(tablet)) {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "toggle left left"
      "center center center";
    gap: 0rem;
    padding: 0 var(--c--theme--spacings--base);

    &__left {
      justify-content: center;
    }

    &__center {
      padding-bottom: var(--c--theme--spacings--sm);
    }


  }

  &__toggle-menu {
    display: none;
    grid-area: toggle;

    @media screen and (max-width: breakpoint(tablet)) {
      display: block;
    }

    &__icon {
      color: var(--c--theme--colors--primary-800);
    }
  }

  &__left,
  &__center,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    grid-area: left;
  }

  &__center {
    grid-area: center;
  }

  &__right {
    grid-area: right;
    justify-content: flex-end;
  }

}
.user-menu {
  min-width: 0;

  & > .c__dropdown-menu-trigger {
    max-width: 100%;
  }

  .user-menu__cta-content {
    display: flex;
    align-items: center;
    gap: var(--c--theme--spacings--sm);
    overflow: hidden;
  }

  .user-menu__cta {
    display: flex;
    align-items: center;
    gap: var(--c--theme--spacings--sm);
    max-width: 100%;
    min-width: 0;
  }

  .user-menu__account {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.1;
    max-width: 100%;
    min-width: 0;
    white-space: nowrap;

    &-name {
      display: inline-block;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-email {
      display: inline-block;
      font-size: var(--c--theme--font--sizes--xs);
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
