.thread-item {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    align-items: center;
    padding: var(--c--theme--spacings--xs);
    margin: 3px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid transparent;
}

.thread-item:not(.thread-item--active):hover,
.thread-item:not(.thread-item--active):focus {
    background-color: transparent;
    border-color: var(--c--theme--colors--greyscale-300);
}

.thread-item--active {
    background-color: var(--c--theme--colors--primary-100);
    color: var(--c--theme--colors--primary-600);
    border-color: var(--c--theme--colors--primary-300);
}

.thread-item__left,
.thread-item__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thread-item__left {
    gap: var(--c--theme--spacings--base);
    min-width: 0;
    flex: 1;
}

.thread-item__right {
    gap: var(--c--theme--spacings--2xs);
    flex-shrink: 0;
}

.thread-item__thread-details {
    min-width: 0;
    flex: 1;
}

.thread-item__read-indicator {
    --size: 0.85rem;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--c--theme--colors--greyscale-300);
}

.thread-item[data-unread="true"] .thread-item__read-indicator {
    background-color: var(--c--theme--colors--primary-400);
    border-color: var(--c--theme--colors--primary-400);
}

.thread-item__sender-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--theme--spacings--2xs);
    line-height: 1;
    min-width: 0;
}

.thread-item__senders,
.thread-item__subject {
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.thread-item__senders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--theme--spacings--2xs);
    max-width: 100%;
    min-width: 0;
}

.thread-item__senders {
    list-style: none;
    padding: 0;
    max-width: 100%;
}

.thread-item__sender {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > strong {
        font-weight: 600;
    }
}

.thread-item__sender:nth-child(2):before {
    content: "..";
}

.thread-item__messages-count {
    font-weight: 300;
    font-size: var(--c--theme--font--sizes--xs);
}

.thread-item__subject {
    color: var(--c--theme--colors--greyscale-600);
}

.thread-item__sender-info:has(.thread-item__senders) + .thread-item__subject {
    color: var(--c--theme--colors--greyscale-400);
}

.thread-item[data-unread="true"]:not(:has(.thread-item__senders)) .thread-item__subject {
    font-weight: 600;
}

.thread-item__date {
    width: 76px;
    text-align: right;
}