.thread-message {
    border-radius: 8px;
    background-color: white;
    padding: var(--c--theme--spacings--base);
    outline: 3px solid transparent;
    transition: outline-color 0.1s ease;
}

.thread-message[data-unread="true"] {
    outline-color: var(--c--theme--colors--primary-300);
}

.thread-message__header {
    border-bottom: 1px solid var(--c--theme--colors--greyscale-200);
    padding-bottom: var(--c--theme--spacings--base);
}

.thread-message__header-column--right {
    gap: var(--c--theme--spacings--);
}

.thread-message__header-actions {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.thread-message__header-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thread-message__header-rows > div > * {
    margin-block: 0;
}

.thread-message__metadata {
    display: flex;
    flex-direction: row;
    gap: var(--c--theme--spacings--xs);
    align-items: center;
    font-size: 0.875rem;
    color: var(--c--theme--colors--greyscale-500);
}

.thread-message__correspondents {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0;
    column-gap: var(--c--theme--spacings--base);
}

.thread-message__correspondents dt {
    font-weight: 600;
}

.thread-message__correspondents dd {
    margin: 0;
}

.thread-message__body {
    width: 100%;
    height: auto;
    border: none;
    overflow: auto;
}

.thread-message__footer {
    margin-top: var(--c--theme--spacings--base);
}

.thread-message__footer-actions {
    display: flex;
    flex-direction: row;
    gap: var(--c--theme--spacings--base);
    margin-top: var(--c--theme--spacings--4xl);
}

