.copyable-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  &__input {
    width: 100%;
    padding: var(--c--theme--spacings--xs) 0;
    border: 0px;
    font-size: var(--c--theme--font--sizes--sm);
    font-family: monospace;
    background-color: var(--c--theme--colors--neutral-50);
    color: var(--c--theme--colors--neutral-900);
    outline: none;
    flex: 1;
  }
}