.mailbox-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.mailbox-panel__header {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 10;
    flex-shrink: 0;
}

.mailbox-panel__mailbox-title {
    margin: 0;
    flex-shrink: 0;
    padding-block: var(--c--theme--spacings--sm);

    & > .c__dropdown-menu-trigger {
        justify-content: flex-start;
        width: 100%;
    }

    button.mailbox-panel__mailbox-title__dropdown-button {
        color: var(--c--theme--colors--greyscale-900);
        font-weight: 600;
        padding-block: var(--c--theme--spacings--sm);
        // 1.1rem hardcoded to be aligned with other icon in the sidebar
        padding-inline: var(--c--theme--spacings--base) 1.1rem;
        width: 100%;
        height: inherit;

        & > .button__label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            text-align: left;
            justify-content: flex-start;
        }

        &:hover,
        &:focus,
        &:active {
            color: inherit;
        }
    }
}

.mailbox-panel .mailbox-list {
    flex-shrink: 0;
    margin-bottom: var(--c--theme--spacings--sm);
}

.mailbox-panel .mailbox-labels {
    border-top: 1px solid var(--c--theme--colors--greyscale-200);
    flex: 1;
}
